<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
  <br>
  <legend>Register for Our Launch</legend>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="row">
      <div class="col-sm-6">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class:"form-control" %>
      </div>
      <div class="col-sm-6">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class:"form-control" %>
      </div>
    </div>

    <div><%= f.label :email %>
    <%= f.email_field :email, class:"form-control" %></div>

    <div><%= f.label :password %>
    <%= f.password_field :password, class:"form-control" %></div>

    <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class:"form-control" %></div>
<br>
    <div class='text-right'><%= f.submit "Register", class: "btn btn-success btn-lg" %></div>
  <% end %>

  <% if false %>
  <%= render "devise/shared/links" %>
  <% end %>

</div>