<%= form_for @reading, url: library_readings_path  do |f| %>
  <% if @reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% @reading.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author, "Original Author" %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </div>
  <div class="checkboxes">
    <%= f.check_box :phrasely, checked: true %> <%= f.label :phrasely, raw("&#182;") %>
    <%= f.check_box :sentencely, checked: true %> <%= f.label :sentencely, raw("&#167;") %>
    <%= f.check_box :paragraphly, checked: true %> <%= f.label :paragraphly, raw("&#186;") %>
  </div>
  <div class="field">
    <%= f.label :content, "Text" %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>