<div class="span9">
<%= form_for [@reading.library, @reading], class:"form-horizontal"  do |f| %>
  <% if @reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% @reading.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :title, "Title*", class:"control-label" %>
    <%= f.text_field :title, class:"input-xxlarge" %>
    <%= f.label :source, "Source*" %>
    <%= f.text_field :source, class:"input-xxlarge" %>
    <%= f.label :author, "Original Author*" %>
    <%= f.text_field :author, class:"input-xxlarge" %>
    <%= f.label :summary %>
    <%= f.text_area :summary, class:"input-xxlarge summary" %>
    <legend>scramble*</legend>
    <%= f.check_box :phrasely, checked: true %>  <%= f.label :phrasely, raw("&#182; paragraphly"), class:'checkbox inline' %> 
    <%= f.check_box :sentencely, checked: true %> <%= f.label :sentencely, raw("&#167; sentencely"), class:'checkbox inline' %>
    <%= f.check_box :paragraphly, checked: true %> <%= f.label :paragraphly, raw("&#186; phrasely"), class:'checkbox inline' %>
    <hr>
    <%= f.label :content, "Text*" %>
    <%= f.text_area :content, class:"input-xxlarge"  %>
    <%= f.submit class:"btn btn-primary" %>
<% end %>
</div>