<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @reading.title %>
</p>

<p>
  <b>Library:</b>
  <%= @reading.library.name %>
</p>

<p>

<b>Author:</b>
  <%= @reading.author %>
</p>

<p>
  <b>Summary:</b>
  <%= @reading.summary %>
</p>

<p>
  <%= @reading.content %>
</p>

<p>
  <b>Rating:</b>
  <%= @reading.rating %>
</p>

<% if current_user.id == @reading.library.user_id %>
  <%= link_to 'Edit', edit_library_reading_path(@reading) %> |
<% end %>

<%= link_to 'Back', library_readings_path %>
