<p id="notice"><%= notice %></p>

<div class="data">
  <p>
    <b>Title:</b>
    <%= @reading.title %>
  </p>
  <p>
    <b>Library:</b>
    <%= @reading.library.name %>
  </p>
  <p>
  <b>Author:</b>
    <%= @reading.author %>
  </p>
  <p>
    <b>Summary:</b>
    <%= @reading.summary %>
  </p>
  <p>
    <b>Type:</b>
    <% if @reading.paragraphly? %>
      &#182;
    <% end %>
    <% if @reading.sentencely? %>
      &#167;
    <% end %>
    <% if @reading.phrasely? %>
      &#186;
    <% end %>
  </p>

</div>
<section class="pSortable reading">
  <% @reading.paragraphly? ? @paragraphs = @reading.paragraphs.shuffle : @paragraphs = @reading.paragraphs %>
  <% @paragraphs.each do |p| %>
    <p id="<%= p.id %>" class="sSortable getId"><span class="phandle">&#182;</span>
    <% @reading.sentencely? ? @sentences = p.sentences.shuffle : @sentences = p.sentences %>
    <% @sentences.each do |s| %>
      <span id="<%= s.id %>" class="phSortable getId"><span class="shandle">&#167;</span>
      <% @reading.phrasely? ? @phrases = s.phrases.shuffle : @phrases = s.phrases %>
      <% @phrases.each do |ph| %>
        <span id="<%= ph.id %>" class="getId">
          <span class="phhandle">&#186;</span>
          <span class="phrase"><%= ph.text %></span>
        </span>
      <% end %>
      </span>
    <% end %>
    </p>
  <% end %>
</section>
<p>
  <b>Rating:</b>
  <%= @reading.rating %>
</p>

<%= link_to "Check Order", check_order_path %>

<% if user_signed_in? %>
  <% if current_user.id == @reading.library.user_id %>
    <%= link_to 'Edit', edit_library_reading_path(@reading) %> |
  <% end %>
<% end %>

<%= link_to 'Back', library_readings_path %>

