<p id="notice"><%= notice %></p>

<div class="data">
  <p>
    <b>Title:</b>
    <%= @reading.title %>
  </p>

  <p>
    <b>Library:</b>
    <%= @reading.library.name %>
  </p>

  <p>

  <b>Author:</b>
    <%= @reading.author %>
  </p>

  <p>
    <b>Summary:</b>
    <%= @reading.summary %>
  </p>
</div>
<section class="pSortable reading">
  <% @reading.paragraphly? ? @paragraphs = @reading.paragraphs.shuffle : @paragraphs = @reading.paragraphs %>
  <% @paragraphs.each do |p| %>
    <p id="paragraph_<%= p.id %>" class="sSortable getId"><span class="phandle">&#182;</span>
    <% @reading.sentencely? ? @sentences = p.sentences.shuffle : @sentences = p.sentences %>
    <% @sentences.each do |s| %>
      <span id="sentence_<%= s.id %>" class="phSortable getId"><span class="shandle">&#167;</span>
      <% @reading.phrasely? ? @phrases = s.phrases.shuffle : @phrases = s.phrases %>
      <% @phrases.each do |ph| %>
        <span id="phrase_<%= ph.id %>" class="getId">
          <span class="phhandle">&#186;</span>
          <span class="phrase"><%= ph.text %></span>
        </span>
      <% end %>
      </span>
    <% end %>
    </p>
  <% end %>
</section>


            <% if false %>
            <%= sortable_element('phrases', :url => 'sort_phrases_path') %>
          </span>
          <%= sortable_element('sentences', :url => 'sort_sentences_path') %>
        </p>
        <%= sortable_element('paragraphs', :url => 'sort_paragraphs_path') %>
            <% end %>


<p>
  <b>Rating:</b>
  <%= @reading.rating %>
</p>
<% if user_signed_in? %>
  <% if current_user.id == @reading.library.user_id %>
    <%= link_to 'Edit', edit_library_reading_path(@reading) %> |
  <% end %>
<% end %>

<%= link_to 'Back', library_readings_path %>

