<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @reading.title %>
</p>

<p>
  <b>Library:</b>
  <%= @reading.library.name %>
</p>

<p>

<b>Author:</b>
  <%= @reading.author %>
</p>

<p>
  <b>Summary:</b>
  <%= @reading.summary %>
</p>

<p>

  <!-- @reading is always an array of pargarphs with arrays of sentances within with arrays of phrases within. Depending on if it is ply,sly,phly each array is either out of order and drag/droppable or is in the correct order and not drag/droppable 

    The cat was on the mat, and it liked the mat. Moreover, it enjoyed working so much it worked all day.
       The problem was it was a cat.

    [
      [[[The cat was on the mat,][and it liked the mat.]][[Moreover,],[it enjoyed working so much it worked all day]]][The problem was it was a cat.]
    ]
    -->

    <!-- paragraphly -->
  <% @paragraphly.paragraphs.each do |p| %>
    <p id="paragraph_<%= p.id %>"><%= p.sentances.phrases %></p>
  <% end %>
    <!-- sentancely -->
  <% @sentancely.paragraphs.each do |p| %>
    <% p.sentances do |s| %>
      <span><%= s.phrases %></span>
    <% end %>
  <% end %>
    <!-- phrasely -->
  <% @phrasely.paragraphs.each do |p| %>
    <% p.sentances do |s| %>
      <% s.phrases do |ph| %>
        <span id="phrase_<%= ph.id %>"<%= put ph %></span>
      <% end %>
    <% end %>
  <% end %>
    <!-- paragraphly & sentancely -->
  <% @p_and_s.paragraphs.each do |p| %>
    <% p.sentances do |s| %>
      <span><%= s.phrases %></span>
    <% end %>
  <% end %>
    <!-- paragraphly & phrasely  -->  
  <% @p_and_ph.paragraphs.each do |p| %>
    <% p.sentances do |s| %>
      <% s.phrases do |ph| %>
        <span id="phrase_<%= ph.id %>"<%= put ph %></span>
      <% end %>
    <% end %>
  <% end %>
    <!-- sentancely & phrasely -->
  <% @phrasely.paragraphs.each do |p| %>
    <% p.sentances do |s| %>
      <% s.phrases do |ph| %>
        <span id="phrase_<%= ph.id %>"<%= put ph %></span>
      <% end %>
    <% end %>
  <% end %>

</p>

<p>
  <b>Rating:</b>
  <%= @reading.rating %>
</p>

<% if current_user.id == @reading.library.user_id %>
  <%= link_to 'Edit', edit_library_reading_path(@reading) %> |
<% end %>

<%= link_to 'Back', library_readings_path %>



    <% p.sentance.each do |s| %></p>
      <% s.phrase.each do |ph| %>
        <span id="phrase_<%= ph.id %>">
      <% end %> 
    <% end %>
  <% end %>
