<%= link_to library, class:"thumbnail" do %>
  <img class="media-object" src="<%= library.img_url %>"/>
	<div class="caption">
		<h3><%= library.name %></h3>
		<b><%= library.readings.count %> readings</b> </br>
  	<b>by</b> <%= library.creator.name %><br>
		<b>Description</b> <%= library.description %><br>
	</div>
<% end %> 	