<p>
  <b>Name:</b>
  <%= library.name %>
</p>
<p>
  <b>Creator:</b>
  <%= library.creator.name %>
</p>
<p>
  <b>Description:</b>
  <%= library.description %>
</p>
		<ul>
		  <li><%= link_to 'Show', library %></li>
		  <% if user_signed_in? %>
		  	<% if current_user = library.creator %>
		  		<li><%= link_to 'Edit', edit_library_path(library) %></li>
		  		<li><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></li>
				<% end %>
			<% end %>
		</ul>