<ul class="nav nav-sidebar sidebar" role="navigation">
  <li>
    <%= link_to "The Kezz Academy", "/", class:'logo' %>
  </li>
  <li>
    <%= link_to "Kezz Readings", libraries_path %>
  </li>
  <li>
    <%= link_to "Winged Words", new_poem_path %>
  </li>
  <li>
    <a href="#">The Finnegan Project</a>
  </li>
  <% if !user_signed_in? %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>  
    </li>
    <li>
    <%= link_to('Register', new_user_registration_path)  %>
    </li>
  <% else %> 
    <li>
      <%= link_to "My Activity", current_user %>
    </li>
    <li>
      <%= link_to 'Settings', edit_user_registration_path %>
    </li>
    <li>
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete, confirm:"Are you sure?" %>   
    </li>
  <% end %>
</ul>
