<% if user_signed_in? %>
	<div class="span3 pull-right">
		<%= link_to  "Create New Library", new_library_path, class: "btn btn-primary" %>	
	</div>
	<h3 class="offset1">Welcome<%= current_user.sign_in_count > 1 ? ' back' : '' %>, <%= current_user.first_name %><h3>
	<hr>

	<div class="span12">
		<h4>In Progress</h4>
		<%= render partial: 'shared/thumbnails', locals: { :array => @in_progress_libraries } %>
	</div>
<% else %>
	<div class="span5 offset2">
		<h2> Welcome to kezz </h2>
	</div>
	<div class="span5">
		Video
	</div>
<% end %>
<hr>
<div class="span12">
	<h4>Trending</h4>
	<%= render partial: 'shared/thumbnails', locals: { :array => @trending_libraries } %>
</div>
<hr>
<div class="span12">
	<h4>Recent</h4>
	<%= render partial: 'shared/thumbnails', locals: { :array => @recent_libraries } %>
</div>