<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		<h1>Kezz</h1>
		<div class='lead'>Try unscrambling a kezz from one of the libraries below or create and share your own Kezz.</div>
		<%= link_to  "Start A Kezz Library", new_library_path, class: "btn btn-lg btn-primary pull-right" %>	
	</div>
	<div class="col-sm-5 col-sm-offset-1">
		<p class="pull-left pSortable reading">
		  <% @reading.paragraphs.shuffle.each do |p| %>
		    <p id="<%= p.id %>" class="sSortable getId paragraph"><u class="phandle">&#182;</u>
		    <% p.sentences.shuffle.each do |s| %>
		      <span id="<%= s.id %>" class="phSortable getId sentence"><u class="shandle">&#167;</u>
		      <% s.phrases.shuffle.each do |ph| %>
		        <span id="<%= ph.id %>" class="getId phrase">
		          <u class="phhandle">&#186;</u>
		          <span class="phrase"><%= ph.text %></span>
		        </span>
		      <% end %>
		      </span>
		    <% end %>
		    </p>
		  <% end %>
		</p>
		<div class="pull-left btn-default check_order btn" title="<%= @reading.id %>">Check Order</div>
	</div>
</div>
<br>
<hr>
<br>
<div class="row">
	<% if user_signed_in? %>
		<div class="col-sm-4">
			<h4 class='text-center'>In Progress</h4>
			<%= render partial: 'shared/library_thumbnails', locals: { :array => @in_progress_libraries } %>
		</div>
	<% end %>
	<div class="col-sm-4">
		<h4 class='text-center'>Trending</h4>
		<%= render partial: 'shared/library_thumbnails', locals: { :array => @trending_libraries } %>
	</div>
	<div class="col-sm-4">
		<h4 class='text-center'>Recent</h4>
		<%= render partial: 'shared/library_thumbnails', locals: { :array => @recent_libraries } %>
	</div>
</div>