<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @library.name %>
</p>
<p>
  <b>Creator:</b>
  <%= @library.creator.name %>
</p>
<p>
  <b>Description:</b>
  <%= @library.description %>
</p>
<% if @readings.empty? %>
	<h2>Whoomp! Whoomp! You have no Readings, why not create one?</h2>
<% else %>
	<h2>Here are your delightful Readings</h2>
	<% @readings.each do |r| %>
	  <ul>
		  <li><%= r.title %></li>
		  <li><%= r.summary %></li>
		  <li><%= link_to 'Show', r %></li>
		  <li><%= link_to 'Edit', edit_library_reading_path(r) %></li>
		  <li><%= link_to 'Destroy', r, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	  </ul>
	<% end %>
<% end %>

<p><%= link_to "Create New Reading", new_library_reading_path(@library, @reading) %></p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
