<div class="span3 pull-right">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">sidebar</li>
      <% if user_signed_in? %>
      	<li><%= link_to 'Edit', edit_library_path(@library) %> </li>
      <% end %>
			<li><%= link_to 'Back', libraries_path %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->

<div class="span8 pull-left">
	<div class="offset1"><img width="200px" src="<%= @library.img_url %>" class="img-polaroid"/></div>
	<dl class="dl-horizontal">
  	<dt>Name</dt>
  	<dd><%= @library.name %></dd>
	  <dt>Creator</dt>
	  <dd><%= @library.creator.name %></dd>
	 	<dt>Description</dt>
	  <dd class="muted"><%= @library.description %></dd>
	</dl>
</div>
<div class="span11">
	<table class="table table-hover">
		<thead>
  		<tr>
  			<th>No.</th>
  			<th>Reading Title</th>
  			<th>Source</th>
  			<th>Author</th>
  			<th>Summary</th>
  			<th>Rating</th>
  		<tr>
  	</thead>
  	<tbody>
			<% @readings.each_with_index do |r, index| %>
  		<tr>
  			<td>
  				<%= index + 1 %>
  			</td>
  			<td>
  				<%= link_to "#{r.title.capitalize}", library_reading_path(@library, r) %>
				</td>		
				<td>
					<%= r.source %>
				</td>
				<td>
					<%= r.author %>
				</td>
				<td class="muted">
					<%= r.summary %>
				</td>
				<td>
					<%= r.rating %> 
				</td>
				<% if current_user == @library.creator %>
					<td>
        		<%= link_to 'Edit', edit_library_reading_path(@library) %> |
					</td>
					<td>
						<%= link_to 'Destroy', library_reading_path(@library, r), method: :delete, data: { confirm: 'Are you sure you would like to delete this reading?' } %></span>
					</td>
				<% end %>
			</tr>
			<% end %>
		<tbody>
	</table>
</div>

<div class="span3"><%= link_to "Create New Reading", new_library_reading_path(@library), class: "btn btn-primary" %></div>
