<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">sidebar</li>
      <li><%= link_to "Link1", "/path1"  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->

<div class="span9">
	<p id="notice"><%= notice %></p>
	<p>
	  <b>Name:</b>
	  <%= @library.name %>
	</p>
	<p>
	  <b>Creator:</b>
	  <%= @library.creator.name %>
	</p>
	<p>
	  <b>Description:</b>
	  <%= @library.description %>
	</p>
</div>
<section>
	<div class="span9">
<% if @readings %>
	<h2>Here are your delightful Readings</h2>
	<% @readings.each do |r| %>
		<ul>
			<li><%= link_to "#{r.title.capitalize}", library_reading_path(@library, r) %>
				<% if current_user == @library.creator %>
					<span><%= link_to 'Destroy', library_reading_path(@library, r), method: :delete, data: { confirm: 'Are you sure you would like to delete this reading?' } %></span>
				<% end %>
			</li>
		</ul>
	<% end %>
<% else %>
	<h2>Whoomp! Whoomp! You have no Readings</h2>
<% end %>
</div>

<div><%= link_to "Create New Reading", new_library_reading_path(@library), class: "btn" %></div>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
</section>
