<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @library.name %>
</p>
<p>
  <b>Creator:</b>
  <%= @library.creator.name %>
</p>
<p>
  <b>Description:</b>
  <%= @library.description %>
</p>
<% if @readings %>
	<h2>Here are your delightful Readings</h2>
	<% @readings.each do |r| %>
		<ul>
			<li><%= link_to "#{r.title.capitalize}", library_reading_path(@library, r) %>
		</ul>
	<% end %>

<% else %>
	<h2>Whoomp! Whoomp! You have no Readings</h2>
<% end %>

<p><%= link_to "Create New Reading", new_library_reading_path(@library), class: "btn" %></p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
