<header>
	<div class="logo"><%= link_to "Kezz", root_path %></div>
	<h1> Welcome to Kezz </h1>
</header>

<% if user_signed_in? %>
	<h1> Welcome, <%= current_user.first_name %><h1>	
	<% if @libraries.empty? %>
		<h2>Whoomp! Whoomp! You have no libraries</h2>
	<% else %>
		<h2>Here are your delightful libraries</h2>
		<% @libraries.each do |l| %>
			<p>
			  <b>Name:</b>
			  <%= l.name %>
			</p>
			<p>
			  <b>Creator:</b>
			  <%= l.creator.name %>
			</p>
			<p>
			  <b>Description:</b>
			  <%= l.description %>
			</p>
				<ul>
				  <li><%= link_to 'Show', l %></li>
				  <li><%= link_to 'Edit', edit_library_path(l) %></li>
				  <li><%= link_to 'Destroy', l, method: :delete, data: { confirm: 'Are you sure?' } %></li>
				</ul>
			<% end %>
		<% end %>
	<%= link_to  "Create New Library", new_library_path, class: "btn" %>
<% else %>

<% end %>