	<%= link_to  "Create New Library", new_library_path, class: "btn" %>
<div class="my_libraries">
<div class="span12">
	<h4>Recent Libraries</h4>
<ul class="thumbnails">
	<% @libraries.each do |l| %>
	 	<li class="span3">
			<%= render partial: 'shared/library_shield', locals: { :library => l } %>
			<% if user_signed_in? %>
	  		<% if current_user = l.creator %>
	  			<%= link_to 'Edit', edit_library_path(l), class:"btn btn-warning" %> 
	  			<%= link_to 'Destroy', l, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
	  		<% end %>
			<% end %>
		</li>
	<% end %>
</ul>
</div>

<div class="attempted">
	Attempted
	<% if @attempted_readings.empty? %>
		<h2>You have attempted no Kezz :o( </h2>
	<% else %>
		<h2>completed Kezz</h2>
			<% @attempted_readings.each do |ck| %>
				<%= render partial: 'shared/reading_shield', locals: { :kezz => ck } %>
			<% end %>
	<% end %>
</div>

<div class="completed">
	Completed
	<% if @completed_readings.empty? %>
		<h2>You have completed no Kezz :o( </h2>
	<% else %>
		<h2>completed Kezz</h2>
		<% @completed_readings.each do |ck| %>
			<%= render partial: 'shared/reading_shield', locals: { :kezz => ck } %>
		<% end %>
	<% end %>
</div>
