<!DOCTYPE html>
<html>
<head>
  <title>Kezz</title>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <%= render "shared/header" %>

  <div id="layout">
    <section>
      <%= yield %>
    </section>
  </div>

<footer>
  <ul class="hmenu">
    <li><%= link_to 'About us', about_path  %> </li>
    <li><%= link_to 'Contact us', contact_path  %> </li> 
</footer>
</div>   
</body>
</html>
